body {
    padding: 0 30px;
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    font-family: "Times New Roman ", cursive;
    color: #000000;
    background: #660066;
    background-image: url("img/s1200.jpeg");
    background-size: 100% 100%;
  }

.container {
    text-align: center;
    inner-left: 50px;  
}
form.one {
  font-family: "Times New Roman", cursive;
  background:rgb(248, 50, 0);
  width: 420px;
  height: 400px;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}




