body {
    padding: 0 30px;
    font-size: 22px;
    line-height: 30px;
    font-family: "Times", cursive;
    text-decoration: underline;
    font-weight: bold;
    text-shadow: 3px 2px rgb(8, 8, 8);
    color: #ffffff;
  
    background: #660066;
    background-image: url("img/s.jpeg");
    background-size: 100% 110% ;
  }

.container {
    text-align: center;
    inner-left: 50px;
}

.one{
  font-family: "Times New Roman", cursive;
    background:rgb(109, 85, 243);
    width: 250px;
    height: 300px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);

}
img{
  border-radius: 100px;
}
